# Puerto del servidor
PORT=3000

# Entorno de ejecución (development, test, production)
NODE_ENV=development

# Cadena de conexión a MongoDB (Local o MongoDB Atlas)
MONGODB_URI=mongodb://localhost:27017/cv_experiencias

# Modo de fallback automático con base de datos en memoria si no hay MongoDB local instalado/ejecutándose
# Valores: true | false
AUTO_FALLBACK_MEMORY_DB=true
